.navbar{
    background-color: transparent;
}
.navbar:hover{
    background-color: white;

}
.btn1:hover{
    color: blueviolet;
}
.bg1{
    background-color: transparent;
}
/* body{
    background-color: tomato;
} */

.share {
    font-size: large;
    text-align: center;
    font-family: Arbutus;
    background-color: #F7F7F7;
}

.btn {
    margin: 7px;
    border: none;
    border-radius: 100px;
    background-color: white;
}

.footer {
    background-color: #212121;
    color: white;
}

.links {
    text-align: center;
}

h2{
    margin: 60px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    background: -webkit-radial-gradient(black,rgba(202, 202, 202, 0.651));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}